body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f5f5f5;
}

h1, h2 {
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px; /* Adjust the max-width to a larger value */
    margin: 0 auto;
    width: 100%; /* Ensure the form takes up full width of its container */
}
label, input, button, div {
    margin: 10px;
    padding: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
}

a {
    text-decoration: none;
    color: #007BFF;
}

a:hover {
    text-decoration: underline;
}
